.nav-bar {
    // background-color: pink;
    padding: 10px;

    position: fixed;
    left: 0;

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        // padding-left: 100px;
        // color: $clr1;

        img {
            // width: 32px;
            // height: 32px;
            // border-radius: 50%;
            // object-fit: cover;
        }

        .btn-link {
            // color: $clr2;
        }
    }

    nav {
        font-size: .8em;
        background-color: white;
        padding: 5px;

    }

    nav a:first-child {
        // margin-right: 30px;
    }

    nav a:not(:first-child) {
        // border-top: 1px solid $clr1;
        // padding: 0 5px;
        // margin: 10px;
    }

    nav .active {
        // color: $clr1;
    }

    .header-logo {
        margin-inline-start: 10px;
        margin-block-start: 20px;
        margin-block-end: 20px;
    }

    .header-btns-container {
        height: 80vh;

        button {
            background-color: white;
            margin-block-start: 20px;
            border-radius: 10px;
    
            font-size: 1.1rem;
            color: black;
            text-align: left;

            &:hover {
                background-color: gray;
            }
        }
    
        .more-btn {
            margin-block-start: auto;
        }
    }


}