.nav-bar {
    padding: 10px;

    position: fixed;
    left: 0;

    .header-logo {
        margin-inline-start: 10px;
        margin-block-start: 20px;
        margin-block-end: 20px;
    }

    .header-btns-container {
        height: 80vh;

        button {
            background-color: white;
            margin-block-start: 20px;
            border-radius: 10px;
    
            font-size: 1.1rem;
            color: black;
            text-align: left;

            &:hover {
                background-color: gray;
            }
        }

        .txt-navbar{
            &.menu-open {
                display: none;
            }
        }
    
        .more-btn {
            margin-block-start: auto;
        }
    }


}