.nested-routes {
    .story-details-container {
        box-shadow: -1px 1px 20px rgb(0 0 0 / 50%);
        text-align: left;
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        position: fixed;
        // height: clamp(391px, calc(100vh - 40px), 921px);
        width: clamp(688px, calc(100vw - 40px), 1240px);
        aspect-ratio: 1.346 / 1;
        // width: 1240px;
        // min-height: 391px; 
        // max-height: 898px;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 1);

        a {
            text-decoration: none;
        }

        .buttons {
            .icon {
                margin-block-start: 6px;
                margin-block-end: 10px;
                margin-inline-end: 16px;
            }

            .save {
                text-align: end;
                margin-inline-end: 0;
                margin-inline-start: auto;
            }
        }

        .background-screen {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.7);
            pointer-events: auto;
            opacity: 1;
        }

        .img-container {
            aspect-ratio: 1440 / 1790;
            padding: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }

        .story-info {
            width: 500px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            color: black;
            padding: 0;
            border-inline-start: 1px solid $clr11;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            * {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }

            .user-info {
                display: flex;
                gap: 15px;
                align-items: center;
                height: 60px;

                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .buttons {
                padding-block: 6px 8px;
                .save, .remove {
                    text-align: end;
                    margin-inline-end: 0;
                    margin-inline-start: auto;
                }
            }

            .time {
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.2px;
                color: $clr8;
            }

            .author {
                font-weight: 600;
                color: black;
                cursor: pointer;
            }

            .comment-add {
                width: 100%;

                .comment-input {
                    margin: 0;
                    border: 0;
                }

                .comment-input:focus-visible {
                    outline: 0;
                }
            }

            .story-header {
                justify-content: space-between;
                padding: 14px 16px;
                border-bottom: 1px solid $clr11;

                .story-user-info {
                    .author {
                        gap: 18px;
                    }
                }
            }

            .comment-container {
                height: calc(100% - 110px);
                padding: 0;
                overflow-x: hidden;

                .comments-list {
                    width: calc(100% + 16px);
                    flex-grow: 1;
                    padding: 16px;
                    gap: 34px;
                    overflow-y: auto;
                    border-bottom: 1px solid $clr11;

                    .comment {
                        padding: 0;

                        section {
                            padding-inline: 0;
                        }

                        .comment-info {
                            padding-inline-start: 18px;
                        }

                        .story-text {
                            word-break: break-all;
                        }

                        .comment-footer {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }

                        .time {
                            font-size: 12px;
                            color: #a3a3a3;
                        }
                    }
                }

                .footer-container {
                    padding-inline: 16px;
                }
            }

            .footer {
                padding: 6px 16px 6px 0;

                svg {
                    margin: 8px 16px;
                    cursor: pointer;
                }

                .post-comment {
                    font-weight: 600;
                    color: $clr10;
                    cursor: pointer;
                }
                .dont-post-comment {
                    font-weight: 600;
                    color: rgb(179, 219, 255);
                    cursor: default;
                }
            }
            
            .app {
                position: absolute;
                bottom: 52px;
                z-index: 2;
            }
        }
    }
}

body.details-menu-open {
    overflow: hidden;
}