.story-edit {
    display: none;
}

body.edit-menu-open .story-edit {
    display: block;
}

.story-edit-container {
    text-align: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    position: fixed;
    display: flex;
    height: clamp(391px, calc(100vh - 40px), 793px);
    // width: clamp(688px, calc(100vw - 40px), 1090px);
    // min-height: 391px; 
    // max-height: 898px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);

    .header {
        border-block-end: 1px solid $clr11;
        height: 42px;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        padding-inline-start: 16px;

        .close-add-menu {
            height: 24px;
            cursor: pointer;
        }

        .share-btn {
            font-size: 14px;
            font-weight: 600;
            color: $clr10;
            padding-inline: 16px;
            cursor: pointer;

            &:hover {
                color: #00376b;
            }
        }

        h2 {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            margin-block: auto;
        }
    }

    .create-post-container {
        height: calc(100% - 42px);
        // flex-grow: 1;
        padding: 0;
        justify-content: center;

        .post-edit {
            height: 100%;
            // width: 100%;
            justify-content: space-between;

            .img-container {
                width: calc(clamp(688px, calc(100vw - 40px), 1090px) - 340px);

                img {
                    border-bottom-left-radius: 12px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

            }

            .post-info {
                width: 340px;
                border-inline-start: 1px solid $clr11;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;

                .post-user-info {
                    display: flex;
                    flex-direction: column;
                    padding: 0 16px;
                    border-block-end: 1px solid $clr11;
                }

                .user-info {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    height: 60px;

                    img {
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                textarea {
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
                    border: none;
                    font-size: 16px;
                    width: calc(100% - 16px);
                    height: 168px;
                    resize: none;
                    margin: 0;

                    &:focus {
                        outline: none;
                    }
                }

                .post-info-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 16px;

                    a {
                        color: #595959;
                        font-size: 20px;
                    }

                    span {
                        font-size: 12px;
                        color: #595959;
                    }

                    svg {
                        cursor: pointer;
                    }
                }
                
                .app {
                    position: absolute;
                    bottom: 0;
                }
            }

        }

        .main {
            // width: 750px;
            width: clamp(348px, calc(100vw - 40px), 750px);

            max-width: 750px;
            min-width: 348px;
            flex-grow: 1;
            padding: 0;
            justify-content: center;

            svg {
                margin-inline: auto;
                display: block;
            }

            .txt {
                height: 15px;
                margin-block-start: 15px;
            }
        }
    }

    .story-edit-label {
        font-size: 14px;
        line-height: 18px;
        border-radius: 8px;
        padding: 7px 16px;
        color: white;
        background-color: $clr10;
        cursor: pointer;
    }

    .upload-preview {
        margin-block-start: 32px;
        margin-block-end: 14px;
        font-weight: 600;
    }
}

.background-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.7);
}
// body.edit-menu-open .story-edit-container {
//     display: flex;
//     box-shadow: -1px 1px 20px rgb(0 0 0 / 50%);
// }

// .background-screen {
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     opacity: 0;
//     pointer-events: none;
//     transition: opacity 0.6s;
//     cursor: pointer;

//     background-color: rgba(0, 0, 0, 0.7);
// }

// body.edit-menu-open .background-screen {
//     pointer-events: auto;
//     opacity: 1;
// }

// body.edit-menu-open {
//     overflow: hidden;
// }

body.edit-post-open .story-edit-container {
    height: clamp(391px, calc(100vh - 40px), 793px);
    width: clamp(688px, calc(100vw - 40px), 1090px);
}