.profile {
    background-color: white;
    color: black;
    
    .profile-img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
    }

    .user-info-container {
        flex-grow: 1;
    }

    button {
        background-color: white;
        color: black;    
    }

    .edit-btn {
        background-color: grey;
        border: 1px solid black;
        border-radius: 10px;
    }

    .btns-filter-posts {
        border-block-start: 2px solid gray;
    }

    .post-list {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: 200px;
        gap: 10px;
    }

    .post-preview {
        height: 200px;
        width: 200px;

        // background-position: center;
        // background-size: cover;
    }
}
